*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.login{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.logo-hero {
  /* height: 17px; */
  width: 10vh;
  margin: 0;
  padding: 0;
  margin-right: 22px;

  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}
.logo-hero img {
  border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
}
.nav-body ul li{
    position: relative;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    background: #ccc transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.nav-body ul li a {
    text-decoration: none;
}
.first{
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
  /* border: 1px solid red; */
}
.second{
  display: flex;
  float: inline-end;
  right: 0;
  justify-content: flex-end;
  /* margin-left: 10rem; */
  position: inherit;
  /* border: 1px solid red; */
}
.nav-items {
  padding-right: 19px;
  /* padding-left: 14px; */
}
.text-hero h1{
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px red;
}
.display-flex .flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section1{
  justify-content: space-between;
  align-items: center;
  display: flex;
  min-height: 80vh;
  /* border: 1px solid red; */
  /* margin-left: 7rem; */
  padding-left: 3rem;
  padding-right: 3rem;
}

.option-hero{
  /* padding: 2px; */
  justify-content: center;
  place-items: center;
  /* padding-bottom: 1rem; */
}
.contact-expert{
  display: flex;
  color:rgba(20, 12, 12);
  font-weight: bold;
}
.contact-expert ul li{
  list-style: none;
  justify-content: space-between;
  padding-left: 12px;
  border-radius: 5px ;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.contact-expert ul li a{
  text-decoration: none;
}
.contact-expert a, .contact-expert a:not(:hover){
  text-decoration: none;
  position: relative;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.contact-expert a:hover{
  /*font-size: 1.5rem;*/
  text-decoration: none;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  /*background:rgba(rgb(226, 115, 115), rgb(0, 255, 0), rgb(195, 195, 214), alpha);*/
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s
  -ms-transition: 1s;
  -o-transition: 1s;
}
.contact-expert-link-1 {box-shadow: 1px 2px 4px 2px rgba(20, 12, 12); background: orange; margin-right: 2rem; padding: 1rem; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;
}
.contact-expert-link-2{box-shadow: 1px 1px 4px 1px orange;
/* margin-left: 2rem;
padding: 1rem; */
color: orange;
justify-content: center;
align-items: center;
display: flex;
padding-left: 1rem;
padding-right: 1rem;
border-radius: 12px;
-webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;}


.img-content{
  display: flex;
  flex-direction: row;
}
.section-body{
  position: inherit;
  display: flex;
  justify-content: space-between;
}

/*  */
.container-section2{
  display: flex;
  position: inherit;
  padding-left: 3rem;
  justify-content: center;
  justify-self: auto;
 
}
.section2-content{
  position: inherit;
  padding-right: 2rem;
  justify-content: center; 
  justify-self: auto;
}
.section2-content h1{
  font-size: 1.5rem;
}
.section2-content h1 span{
  font-size: 2rem;
  color: #ff6600;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.services-content{
  display: block;
  padding-left: 2rem;
  justify-content: center;
  justify-self: auto;
}
.service-hero{
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  outline-color:#ff6600 ;
  padding: 0.5rem;
  border-radius: 20px;
  background: rgba(248, 120, 120, 0.1) ;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.service-content{
  justify-content: center;
  justify-self: auto;
  text-align: center;
}
.service-content strong{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.service-content h5{
  font-weight:lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 0.8rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #ff0000;
  transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    transition: none;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(
    45deg,
    rgba(248, 120, 120, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(250, 189, 58, 0.15) 50%,
    rgba(49, 255, 8, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .progress-bar-animated {
    -webkit-animation: none;
    animation: none;
  }
}

.text-center{justify-content: center;
justify-self: auto;
text-align: ;}
.offres-hero{
  margin-top: 2rem;
  font-size: 2rem;
  position: relative;
  font-weight: bold;
}
.packs{
  display: flex;
  place-content: center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  background: rgba(20, 12, 12, 0.1);
}
.pack-standard{
  padding-right: 2rem;
}
.pack-premium{
  padding-left:2rem;
}
.container-fluid{
  display: block;
}
.button{
  padding: 0.3rem;
  font-weight: bold;
  background: #ff6600;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.text-content span{
  font-size: 12px;
  padding:12px;
  border-radius:15px ;
  background:;
  rgba(184,241,10,0.748)-webkit-border-radius:;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
  -webkit-border-radius:15px ;
}
.pack-content span{
  font-size: 12px;
padding:12px}


.col-1,.col-2,.col-3{
  margin: 1rem;
  /* padding: 3rem; */
  /* justify-content: center; */
  /* text-align: center; */
  /* position: inherit; */
  /* display: block; */
}
.col-1{
  left:0;
  float: left;
}
.col-2{
  width: 50vh;
  height: 50%;
  
}
.col-2 img{
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.col-3 ul li{
  right: 0;
  /* float: right; */
  padding-right: 1rem;
  justify-self: auto;
}


/* footer */

footer{
  justify-content: center;
  align-items: center;
  display: flex;
}
footer .content{
  /*border: 1px solid red;*/
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}
footer .up h1{
  font-weight: bold;
  font-size: 1.5rem;
}
footer .up p{
  padding-bottom: 0.5rem;
}
footer .up{
  /*border: 1px solid red;*/
  text-align: left;
  width: 625px;
  height: 230px;
  margin-right: 4rem;
}
footer .help{
  /*border: 1px solid red;*/
  margin-right: 4rem; 
}
footer .help a{
  text-align: left;
  display: flex;
  text-decoration: underline;
}
footer .help h1{
  font-weight: bold;
  font-size: 1.5rem;
}
footer .contacts{
  /*border: 1px solid red;*/
  width: 325px;
  height: 231px;
}
footer .contacts a{
  text-align: left;
  display: flex;
  text-decoration: underline;
}
footer .contacts h1{
  font-weight: bold;
  font-size: 1.5rem;
}
/*--------------------------------Un codeur dor pas------------------*/
.section1{
  min-height: 90vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.section1{
  /*margin-top: 2rem;*/
  margin-bottom: 2rem;
}
.service-content hr{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.content .text-hero{
  margin-right: 5rem;
}
.text-hero h2 strong{
  font-size: 1.4rem;
}
.illustration img{
  margin-left: 5rem;
  width: 650px;
  user-select: none;
  /*border: 1px solid red;*/
  /*margin-left: 13rem;*/
}
.contact-expert-link-1 a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.contact-expert-link-1:hover{
  background-color: transparent;
  color: orange;
  box-shadow: 1px 1px 4px 1px red;
  transition: 1s;
}
.contact-expert-link-2:hover{
  color: orange;
  box-shadow: 1px 1px 4px 1px red;
  transition: 1s;
}
.contact-expert-link-2{
  animation: float 1s infinite;
}
.contact-expert-link-2 a{
  font-size: 1rem;
}
@keyframes float{
  0%{
    box-shadow: 1px 1px 4px 1px gold;
  }
  50%{
    box-shadow: 1px 1px 4px 1px red;
  }
  100%{

  }
}



.section2{
  /*border: 1px solid red;*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2-content{
  margin-right: 2rem;  
  margin-left: 2rem;
}
.container-section2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section2-content h1{
  font-size: 3rem;
  font-weight: bold; 
  margin-bottom: 1rem; 
}
.section2-content h1 span{
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.section2-content p{
  font-size: 1.4rem;
}
.service-hero{
  margin-bottom: 1rem;
  margin-left: 9rem;
  margin-right: 9rem;
  color: orange;
  font-size: 1.4rem;
  border-radius: 15rem;
  z-index: 2;
  position: relative;
  top: 2.3rem;
}
.services-contents{
  margin-left: 2rem;
  margin-right: 2.5rem;
  width: 800px; 
  padding-bottom: 2rem;
}
.service-content{
  background-color: rgba(1, 0, 0, 0.2);
  margin-right: 4rem;
  margin-left: 4rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.service-content h5{
  padding-bottom: 1rem;
}
.service-content .lefirst{
  padding-top: 1.5rem;
}
.section2-content{
  margin-top: 2.7rem;
}
.section2-content h1{
  line-height: 55px;
}


.section3{
  /*border: 1px solid red;*/
}
.text-center{
  /*margin-top: 3rem;*/
}
.text-center .offres-hero{
  margin-top: 2rem;
  font-size: 2.5rem;
}
.text-center p{
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 1rem;
  font-size: 1.3rem;
}
.flex-wrapper{
  /*border: 1px solid red;*/
  margin-bottom: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-right: 10rem;*/
  /*margin-left: 10rem;*/
  width: 100%;
}
.container-fluid{
  /*border: 1px solid red;*/
  border-radius: 0.4rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  display: grid;
  padding: 2rem;
  /*margin-top: 1rem;*/
  background-color: rgba(0, 0, 0, 0.3);
}
.eee{
  /*border: 1px solid red;*/
  margin-top: -2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.container-fluid .content{
  margin-bottom: 1rem;
  font-size: 2rem;
}
.container-fluid .content span{
  position: relative;
  bottom: 3.9rem;
  font-size: 1.5rem;
  background: rgba(248, 120, 120, 0.1);
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2rem;
  color: orange;  
  z-index: 5;
}
.pack-content{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.pack-content span{
  font-size: 1.3rem;
}
.button{
  margin-top: 1.4rem;
  border-radius: 0.4rem;
  background-color: orange;
  color: black;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.7rem;
}
.button:hover{
  /*color: orange;*/
}


/*--------------Responsive-------------------*/
@media only screen and (max-width: 1250px){
  body{
    /*background-color: red;*/
  }
  .section1{
    justify-content: left;
  }
  .illustration img{
  width: 500px;
  }
  .section2-content{
    margin-right: 0;
    margin-left: 0;
  }
  .services-contents{
    height: 40%;
    width: 100%;
  }
}
@media only screen and (max-width: 1140px){
  body{    
    /*background-color: red;*/
  }
  .illustration img{
    width: 450px;
    margin-left: 5rem;
  }
  .img-content{
    padding-top: 4rem;    
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .section2-content{
    margin-right: 0;
    margin-left: 0;
  }
  .services-contents{
    height: 40%;
    width: 100%;
  }
}
@media only screen and (max-width: 1040px){
  body{    
    /*background-color: red;*/
  }
  .illustration img{
  width: 440px;
  margin-left: 1rem;
  margin-right: 2rem;
  }
  .text-hero h1{
    font-size: 3rem;
  }
  .course-hero strong{
    font-size: 1.4rem;
  }
  .contact-expert-link-1 a{
    font-size: 0.9rem;
  }
  .contact-expert-link-2 a{
    font-size: 0.9rem;
  } 
  .services-contents{
    padding: 0;
    margin: 0;
    height: 50%;
    width: 100%;
  }
  .section2{
    min-height: 90vh;
    padding-bottom: 2rem;
  }
  .section2-content{
    margin-right: 0;
    margin-left: 0;
    padding: 0;    
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 1000px){
  body{    
    /*background-color: red;*/
  }
  .section1{
    justify-content: left;
  }
  .section-body{
    display: grid;
    justify-content: left;
    align-items: flex-start;
    /*border: 1px solid red;*/
  }
  .text-hero h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .course-hero h2 strong{
    width: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .option-hero{
    display: flex;
    justify-content: left;
    text-align: left;
    margin-bottom: 2rem;
  }
  .text-hero{
    margin-bottom: 2rem;
  }
  .text-hero h1{
    font-size: 3.5rem;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
  }
  .text-hero h2 strong{
    font-size: 1.7rem;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
  }
  .illustration{
    display: none;
  }
  .section2{
    display: grid;
  }
}